.header{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
    
    
       
}
.header-img img{
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    opacity: 50%;
}
.arrows{
    position: absolute;    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    top: 0;  
    opacity: 100px;
    box-sizing: border-box;   
}
.header-container{
    position: absolute;
    
    width:980px ;
    height: 100%;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
}
.nav{

}
.search-section{

}