.one{
    width: 100%;
    height: 500px;
    background-color: tomato;
    opacity: 50%;
}
.two{
    width: 980px;
    height: 30px;
    background-color: rgb(71, 255, 95);
    opacity: 50%;
    margin: 10px auto;
}
.three{
    width: 980px;
    height: 320px;
    background-color: rgb(83, 71, 255);
    opacity: 50%;
    margin: 0 auto 30px auto;
}
.four{
    width: 980px;
    height: 320px;
    background-color: rgb(53, 52, 7);
    opacity: 50%;
    margin: 0 auto 30px auto;
}
.five{
    width: 980px;
    height: 320px;
    background-color: rgb(18, 4, 78);
    opacity: 50%;
    margin: 0 auto 30px auto;
}
.six{
    width: 980px;
    height: 320px;
    background-color: rgb(49, 3, 42);
    opacity: 50%;
    margin: 0 auto 30px auto;
}
.seven{
    width: 980px;
    height: 320px;
    background-color: rgb(5, 54, 20);
    opacity: 50%;
    margin: 0 auto 30px auto;
}
.eight{
    width: 980px;
    height: 320px;
    background-color: rgb(11, 54, 78);
    opacity: 50%;
    margin: 0 auto 30px auto;
}
.nine{
    width: 980px;
    height: 300px;
    background-color: rgb(46, 18, 5);
    opacity: 50%;
    margin: 0 auto 30px auto;
}
.ten{
    width: 1022px;
    height: 469px;
    background-color: rgb(18, 4, 78);
    opacity: 50%;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}
.eleven{
    width: 980px;
    height: 320px;    
    margin: 0 auto 30px auto;
}
.twelve{
    width: 980px;
    height: 300px;
    background-color: rgb(46, 18, 5);
    opacity: 50%;
    margin: 0 auto 30px auto;
}
.thirteen{
    width: 980px;
    height: 320px;    
    margin: 0 auto 30px auto;
}
.title{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.title-name{
    font-size: 20px;
    font-family: 'BPG Mrgvlovani Caps';
    color:  rgb(85, 84, 84);
    margin-top: 7px;
}
.nav-arrows{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.button{    
    border: none;
    color:  rgb(85, 84, 84);
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}
.content{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-between;
}
.items{
    width: 185px;
    height: 100%;
    background-color: aqua;
    border-radius: 5px;
    background-image: url(img/3.jpg);
    background-size: cover;
}

.footer{
    width: 100%;
    height: 104px;
    background-color: rgb(70, 73, 75);
    opacity: 70%;
    margin: 0 auto 0 auto;
}